@use "./material-icons";
@use "./starter-complet";

// @font-face {
//     font-family: "EBGaramond";
//     src: url('../fonts/static/EBGaramond-Regular.ttf') format('truetype');
// }

:root {
    --body-font: /*"EBGaramond",*/ sans-serif;
    --theme-color: var(--teal-5);
}

body {
    margin: 0;
    font-family: var(--body-font);
}