@use "./material-icons";
@use "./starter-complet";
@use "/node_modules/highlight.js/styles/default.css";

// @font-face {
//     font-family: "EBGaramond";
//     src: url('../fonts/static/EBGaramond-Regular.ttf') format('truetype');
// }

:root {
    --body-font: sans-serif;
    --theme-color: var(--purple-5);
    --input-color: #9DBFAF;
    --terminal-color: #263238;
    --tag-color: var(--theme-color);
    --codeline-color: #eff;
    --valid-color: var(--blue-10);
    font-family: EBGaramont, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: var(--body-font);
}

main.container {
    position: relative;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;

    .pointer {
        cursor: pointer;
    }

    &.mode-edition {
        padding-top: 14px;
    }

    // LIST OF ARTICLES
    & .app-list-of-articles {
        margin-top: 35px;
        min-height: 100vh;
    }

    // fin LIST OF ARTICLES

    // BOUTON DE BASE
    .button {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        margin: 10px;
        display: inline-block;
        transition: background 0.3s;
    }

    // fin BOUTON DE BASE

}

// GROUPE DE BOUTONS
ul.btns-group.btns-group--inline {
    margin: 0;
    padding: 0;

    & li {
        list-style-type: none;
        display: inline-block;

        & button,
        & [role="button"] {
            background: transparent;
            border: 1px solid var(--grey-5);
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
            margin: 1rem 10px 0 0;
            transition: background 0.3s;
            float: left;
            color: inherit;

            &.abort {
                background-color: var(--grey-3);
                border: none;
            }

            &.delete {
                background-color: var(--red-8);
                border: none;
                color: #fff;
            }

            &:hover {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.175);
            }
        }
    }
}

// fin GROUPE DE BOUTONS